.header{
  background: #B03060;
  color:#FFFFFF;
  text-align: center;
}

.search input {
  width: 95%;

}

.addTransaction input {
 width: 200px;
 margin: 10px;
 margin-right: 10px;

}
.addTransaction{
  align-items: center;
  
}

.table {
  border-collapse: collapse; 
  width: 95%; 
  margin: 10px;
}

th, td {
  border: 1px solid black; 
  padding: 8px; 
}

th {
  background-color: #f2f2f2; 
}